*{
font-family: 'Roboto', sans-serif;

}

:root{

/* Primary Colors */
   --grey: #404040;
   --offwhite: #FAFAFA;
   --plum: #651FFF;
   --purple: #7D83FF;
   --violet: #B8B8FF;
   --fadewhite: #F8F7FF;
   --blush: #FFEEDD;
   --linkblue: #007FFF;

}

html {


}

body {
 background-color: var(--offwhite);
 font-size: .8em;

}

.body-padding{
  padding: 15px;
}

.navbar{
  background-color: #fff;
  z-index: 100;
}

.navbar-menu{
  align-items: center;
}

.navbar-start{
  align-items: center;
}

a.navbar-item.is-active{

  color: var(--plum);
}

.navbar.is-plum{
  background-color: var(--plum);
  color: white;
}


a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {

  color: var(--plum);
}


.card.card-content{
  background-color: var(--violet);
}

.btn-plum{
  background-color: var(--plum);
  color: #fff;
}

.btn-purple{
  background-color: var(--purple);
  color: #fff;
}

.btn-plum-text{
  color: white;
}

.btn-plum-text:hover{
  color: white;
}

.btn-purple-text{
  color: white;
}

.btn-purple-text:hover{
  color: white;
}


.text-purple{
  color: var(--purple);
}


#mobile-title-plum{
  text-align: center;
  color: white;
}
